<div class="card">
  <ion-item lines="none" (click)="toggleAccordion()" color="primary">
    <ion-label>Agregar articulo</ion-label>
    <ion-icon slot="end" [name]="isMenuOpen ? 'remove' : 'add' "></ion-icon>
  </ion-item>

  <div [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">
    <form [formGroup]="itemForm" (ngSubmit)="onItemFormSubmit()">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="stacked">Nombre Articulo</ion-label>
              <ion-input type="text" formControlName="nameItem"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Cantidad</ion-label>
              <ion-input type="number" formControlName="quantity"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Precio</ion-label>
              <ion-input type="number" formControlName="price"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-align-self-end">
            <ion-button type="submit" [disabled]="!itemForm.valid" size="small">
              Agregar
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</div>