<ion-header>
  <ion-toolbar>
    <ion-title>sign-in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="signInForm" (ngSubmit)="onsignInFormSubmit()">
    <ion-item>
      <ion-label position="stacked">Usuario</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Constraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <ion-button type="submit">
      Iniciar sesion
    </ion-button>


  </form>

</ion-content>